node_modules
dist
coverage
.git
.gitignore
.github
.husky
.nvmrc
.prettierrc
.prettierignore
.eslintrc.js
.eslintrc.cjs
.eslintignore
.lintstagedrc.json
.vscode
.idea
*.md
!package*.json
.env
.env.*
logs
test
docker-compose*.yml
src/docker
ecosystem.config.js
server.sh
scripts
setup-eslint.txt
setup-husky.txt
Dockerfile
.dockerignore
