NODE_ENV=string

PORT=number

CROSS_ORIGIN=string

KAFKA_BROKERS=string
KAFKAJS_NO_PARTITIONER_WARNING=1

RABBITMQ_URI=string

DB_HOST=string
DB_PORT=number
DB_USER=string
DB_PASSWORD=string
DB_NAME=string
DB_SCHEMA=string
DB_LOGGING=boolean
DB_SYNCHRONIZE=boolean
DB_MIGRATIONS_RUN=boolean

DEFAULT_PAGE=number
DEFAULT_PAGE_SIZE=number
GRAPHQL_PLAYGROUND=boolean

AWS_S3_ACCESS_KEY=string
AWS_S3_SECRET_KEY=string
AWS_S3_REGION=string
AWS_S3_BUCKET_NAME=string
SIGNED_URL_EXPIRES_IN=number

JWT_ACCESS_PUBLIC_KEY=string
JWT_ACCESS_PRIVATE_KEY=string
JWT_REFRESH_PRIVATE_KEY=string